html {
    text-align: center
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, #FFFFFF, #d4bbf0, #8cd36b, #c8e040);
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid blue;
}

h1 {
    font-family: Arial, sans-serif;
}

h3 {
    font-family: Roboto, sans-serif;
}

p {
    position: fixed;
    bottom: 0;
}